<!DOCTYPE html>
<html ng-app="memberApp">
  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
  <script src="js/controllers.js"></script>
  </head>

  <body ng-controller="MemberListCtrl">
  <div>
  <form name="memberForm" novalidate>
  <input name="name" type="text" ng-model="name" required>
  <input name="status" type="text" ng-model="status" required>
  <button ng-click="add()">Add</button>
  </form>
  </div>
    <table >
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="member in members | orderBy: ['lastName','firstName']">
          <td> {{member.lastName}}, {{member.firstName}}</td>
          <td> {{member.status}} </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
